<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name.fullName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">
        <h1>{{user.name.firstNames}} {{user.name.lastNames}}</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="ion-align-items-center ion-align-self-center">

          <ion-img [src]="user.photo"></ion-img>

        <ion-list class="ion-text-left">

          <ion-item>
            <ion-list>
              <ion-label>Correo electronico: </ion-label>
              <ion-label color="tertiary">{{user.email}}</ion-label>
            </ion-list>
          </ion-item>

          <ion-item>
            <ion-list>
              <ion-label>Genero: </ion-label>
              <ion-label color="tertiary">{{user.gender}}</ion-label>
            </ion-list>
          </ion-item>

          <ion-item>
            <ion-list>
              <ion-label>Fecha de nacimiento: </ion-label>
              <ion-label color="tertiary">{{user.birthday}}</ion-label>
            </ion-list>
          </ion-item>

          <ion-item>
            <ion-list>
              <ion-label>RFC: </ion-label>
              <ion-label color="tertiary">{{user.rfc}}</ion-label>
            </ion-list>
          </ion-item>

          <ion-item>
            <ion-list>
              <ion-label>Intereses:</ion-label>
              <ion-badge slot="end" color="primary">{{user.interests.interest}}</ion-badge>
            </ion-list>
          </ion-item>

        </ion-list>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>